.feedbackRatingRating{
    /* border: 1px solid white; */
    display: flex;
    width: 150px;
    height:40px;
}
.feedbackDate{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
}
.providerRatingBox{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
    /* gap: 20px; */
    height: 40px;
}
.providerRating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    /* background-color: gray; */
    width: 100%;
    height: 100%;
}
.providerRating button{
    color: white;
    background-color: #febe42;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
}
.providerRating i{
    color: #febe42;

}

.review-txt-cell{
    width: 100px;
}
