.reviewsBox{
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 30px;
     /* align-items: end;  */
    justify-content: start;
}
.reviewBoxEach{
    /* background-color: #9a9a9a; */
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9a9a9a;
}

.searchReviewsBox{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: end;
}
.searchReviews {
  color: black;
  border: 2px solid #35D07D;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 500px;
  outline: 0;
}

.searchReviews:active {
  box-shadow: 2px 2px 15px #35D07D inset;
  outline: 0;
}