.reviewsBox{
    width: 90%;
    height: 350px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    /* align-items: center; */
    justify-content: start;
}
.reviewBoxEach{
    /* background-color: #9a9a9a; */
    height: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9a9a9a;
}