.walletBox{
    /* background-color: tan; */
    /* position: fixed; */
    width: 100%;
    overflow: hidden;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
    /* align-items: end; */
}
.walletBody{
    width: 100%;
    /* height: 1000px; */
    display: flex;
    /* flex: 1; */
    /* background-color: cadetblue; */
    margin-top: 70px;
    overflow: hidden;
}
.wallet{
    margin-left: 20%;
    background-color: #fafafa;
    /* position: relative; */
    height: 100%;
    /* background-color: rgb(85, 0, 79); */
    height: 1000px;
    /* overflow-y: scroll; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
    gap: 30px;
    /* position: fixed; */
    /* margin-right: -60px; */
}
.walletOverview{
    width: 90%;
    height: 100px;
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.walletOverviewTxt p{
    /* border: 1px solid black; */
    font-size: 18px;
}
.walletOverviewTxt h4{
    /* border: 1px solid black; */
    font-size: 20px;
}
.balance{
    width: 30%;
    height: 100%;
    background-color: #def5d8;
    color: #3fad27;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.dailyEarnings{
    width: 30%;
    height: 100%;
    /* color: #e49c0b; */
    color: purple;
    /* background-color: rgba(128, 0, 128, 0.233); */
    background-color: #f0d8fb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.totalEarnings{
    width: 30%;
    height: 100%;
    color: #e49c0b;
    background-color: #fbf0d8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.balance:hover, .dailyEarnings:hover, .totalEarnings:hover{
    transform: translateY(-5px);
    transition: 0.6s;
}
.balance i, .dailyEarnings i, .totalEarnings i{
    font-size: 40px;
    display: flex;
}
.walletSvg{
    width: 50px;
    height: 50px;
}
.walletCurrency{
    font-weight: 500;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    line-height: 25px;
    padding: 3px 7px;
}
.walletTypeBox{
    width: 90%;
    height: 500px;
    /* background-color: rgba(0, 0, 0, 0.301); */
    display: flex;
    gap: 30px;
}

.earnings{
    height: 200px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background-color: white;
}
.payoutMethods{
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.earningsTitle{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #9a9a9a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}
.earningsTitle button{
    border-radius: 5px;
    font-size: 14px;
    color: #888;
    font-weight: 400;
    border: 0;
    padding: 6px 10px;
    background: #f4f4f4;
}
.earningsBody{
    /* width: 100%; */
    /* background-color:crimson; */
    display: flex;
    height: 100px;
    align-items: center;
    padding-left: 40px;
    gap: 10px;
}
.earningsBody i{
    color: #777;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    padding: 10px;
    display: flex;
    background-color: #eee;

}


.payoutMethodsTitle{
    width: 89%;
    height: 60px;
    border-bottom: 1px solid #9a9a9a;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding-left: 50px;  
}

.payoutMethodsBody{
    width: 90%;
    height: 70%;
    border: 3px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.payoutMethodsBodyTitle{
    width: 88%;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding-left: 50px;  
}
.payoutMethodsNoti{
    color: #3184ae;
    background-color: #E9F7FE;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}
.payoutMethodsInput{
    width:87%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9a9a9a;
    outline: 0;
}

.confirmPayout{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #35D07D;
    display: flex;
    gap: 5px;
    color: white;
    border: 0;
    align-self: flex-start;
    margin-left: 15px;
}
.confirmPayout:hover{
    /* letter-spacing: 2px; */
    transition: 1s;
    background-color: #35D07D;
    border: 1px solid #35D07D;
    color: white;
    transform: scale(1.1);
}